{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "parser": "flow",
  "printWidth": 80,
  "prettier/prettier": [
    "error",
    {},
    {
      "parser": "flow",
      "singleQuote": true,
      "usePrettierrc": false
    }
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none"
}